html {
  height: 100%;
  width: 100%;
}
.container{
  width: 85%;
  margin: 0 auto;
  
}

  .education{
    Width: 85%;
    margin:  0 auto;
  
  }

 .Skills{
   Width: 85%;
   margin:  0 auto;
   
}

.Achievements{
  Width: 85%;
  margin:  0 auto;
}

  


  
  
